.faq-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2ox 4px rgba(0, 0, 0, 0.1);
}

.faq h2 {
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

.faq p {
    font-size: 16px;
    color: #666;
    display: none;
}

@media screen and (max-width: 768px) {
    .faq h2 {
        font-size: 16px;
    }

    .faq p {
        font-size: 14px;
    }
}